<h1>Edit Cat</h1>
<nav>
  <a class="link" href="/cats/">Homepage</a>
</nav>



<form class="new_cat" id="new_cat" action="/cats/{{id}}" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name" type="text" name="name" id="cat_name" value="{{name}}" /><br><br>
  <input placeholder="image url" type="text" name="image" id="cat_image" value="{{image}}" /><br><br>
  <textarea name="description" id="cat_life_story">{{description}}
  </textarea><br><br>
  <input type="submit" name="commit" value="Update Cat" />
</p>

</form>

<a class="link" href="/cats">nevermind</a>
