<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">generate cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>

<ul>
 {{#each cats}}
  <li><h3>{{this.name}}</h3><br>
  <a href="/cats/{{this.id}}"><img src="{{image}}" alt = "{{name}}"></a></li>
 {{/each}}
</ul>
