<!DOCTYPE html>
<link rel="stylesheet" type"text/css" href="../public/stylesheets/normalize.css"
<link rel="stylesheet" type"text/css" href="../public/stylesheets/skeleton.css"


<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="one column">One</div>
    <div class="eleven columns">
      <h1>your next meal is ...</h1>
<nav>
  <a class="link" href="/searchRecipe/">search new</a>
</nav>



 <h3>{{name}}</h3><br>
 <img src="{{image}}" alt ="{{name}}"><br><br>
 {{recipe}}</li>
    </div>
  </div>

</div>
