<h1>THIS IS WHERE WE SEARCH BASED ON OUR INGREDIENTS</h1>
<form class="new_cat" id="new_cat" action="/search" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name" type="text" name="name" id="cat_name" /><br><br>
  <input placeholder="image url" type="text" name="image" id="cat_image" /><br><br>
  <textarea placeholder="life story" name="description" id="cat_life_story">
  </textarea><br><br>
  <input type="submit" name="commit" value="Create Cat" />
</p>

</form>

<a class="link" href="/cats">nevermind</a>
