<h1>Recipe ME</h1>
<form class="searchRecipe" id="ingredient" action="/search" accept-charset="UTF-8" method="post">
  <p>
    <input placeholder="enter first ingredient" type="text" name="name" id="input1" /><br><br>
    <input placeholder="enter Second ingredient" type="text" name="name" id="input2" /><br><br>
    <input placeholder="enter Third ingredient" type="text" name="name" id="input1" /><br><br>
    <input value="recipe me"type="submit" id="summit"></input>
  </p>
</form>
