@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.container {
  padding-top: 70px;
  background:rgba(255, 255, 255, .75);
  margin-top: 70px;
  border-radius: 10px;

}

.container input {
  width: 500px;
  height: 50px;
}
a{
  text-decoration: none;
}
.submit{
  background: white;
  font-size: 20px;
  border:none;

}

#find{
  background: #ff9900;
  font-size: 20px;
  border:none;
  color: white;
}
#find:hover{
  background: #ffad32;
}
